@import '../global/variables.scss';

.age-confirm {
  text-align: start;
  padding: 0;
  border: none;
}

.age-confirm__title {
  padding: 0;
  @include font(normal, 16px, 142%);

  @media (min-width: $desktop-md-width) {
    @include font(normal, 20px, 142%);
  }
}

.age-confirm__list {
  display: flex;
  margin: 3px 0 0 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-md-width) {
    margin-top: 9px;
  }
}

.age-confirm__item:last-child {
  margin-left: 31px;
}
