@import '../global/variables.scss';

.button-more {
  position: relative;
  width: 199px;
  height: 42px;
  padding: 7px 59px 7px 20px;
  box-sizing: border-box;
  border-radius: 50px;
  @include font(bold, 16px, 142%);
  color: $white;
  text-decoration: none;

  @media (min-width: $desktop-md-width) {
    @include font(bold, 23px, 122%);
  }
}

.button-more::after {
  position: absolute;
  top: 9px;
  right: 57px;
  width: 22px;
  height: 16px;
  background-image: url('../img/svg-icons/arrow.svg');
  content: '';

  @media (min-width: $desktop-md-width) {
    top: 11px;
    right: 21px;
  }
}

.button-more:hover {
  background: none;
  cursor: pointer;

  @media (min-width: $desktop-md-width) {
    background-color: $green400;
  }
}

.button-more:active {
  background: none;

  @media (min-width: $desktop-md-width) {
    background-color: $orange200;
  }
}
