@import '../global/variables.scss';

.button-more {
  position: relative;
  width: 199px;
  height: 42px;
  padding: 7px 59px 7px 20px;
  box-sizing: border-box;
  border-radius: 50px;
  
  @include font(bold, 23px, 122%);
  color: $white;
  text-decoration: none
}

.button-more::after {
  position: absolute;
  top: 11px;
  right: 21px;
  width: 22px;
  height: 16px;
  background-image: url('../../src/img/svg-icons/arrow.svg');
  content: '';
}

.button-more:hover {
  background-color: $green400;
  cursor: pointer;
}
