@import '../global/variables.scss';

.choose-tour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose-tour__title {
  margin: 135px 0 0 0;
  @include font(bold, 59px, 124%);
  color: $black;

  @media (max-width: $mobile-width) {
    margin-top: 75px;
    @include font(bold, 34px, 112%, 0.02em);
  }
}

.choose-tour__nav {
  display: flex;
  margin: 38px 0 0 0;
  padding: 0;
  @include font(bold, 23px, 122%);
  color: $black;
  list-style-type: none;

  @media (max-width: $mobile-width) {
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    margin-top: 21px;
    @include font(bold, 16px, 142%);
  }
}

.choose-tour__nav-item:not(:first-child) {
  margin-left: 30px;

  @media (max-width: $mobile-width) {
    margin-left: 10px;
  }
}

.choose-tour__nav-item:nth-child(3n + 4) {
  @media (max-width: $mobile-width) {
    margin-left: 0;
  }
}

.choose-tour__nav-item {
  @media (max-width: $mobile-width) {
    margin-top: 10px;
  }
}

.choose-tour__nav-link {
  position: relative;
  color: $black;
  text-decoration: none;
}

.choose-tour__nav-link:hover::after {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;
  height: 2px;
  background-color: $black;
  content: "";
}

.choose-tour__nav-link--current {
  color: $orange200;
}

.choose-tour__nav-link--current::after {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;
  height: 2px;
  background-color: $orange200;
  content: "";

  @media (max-width: $mobile-width) {
    bottom: -2px;
  }
}

.choose-tour__links {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(3, max-content);
  grid-gap: 30px;
  margin: 104px 0 0 0;
  padding: 0;
  list-style-type: none;


  @media (max-width: $tablet-width) {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(3, max-content);
    grid-gap: 18px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: max-content;
    grid-template-rows: max-content;
    margin-top: 49px;
  }
}