@import '../global/variables.scss';

.construct-tour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.construct-tour__title {
  margin: 75px 0 0 0;
  @include font(bold, 34px, 112%, 0.02em);
  color: $black;

  @media (min-width: $desktop-md-width) {
    margin-top: 134px;
    @include font(bold, 59px, 124%);
  }

  @media (min-width: $desktop-lg-width) {
    margin-top: 105px;
  }
}

.construct-tour__description {
  margin: 20px 0 0 0;
  padding: 0 20px;
  @include font(normal, 16px, 142%);
  color: $grey300;

  @media (min-width: $desktop-md-width) {
    margin-top: 30px;
    @include font(normal, 20px, 142%);
  }
}

.construct-tour__description br {
  @media (min-width: $tablet-md-width) {
    display: none;
  }

  @media (min-width: $desktop-md-width) {
    display: block;
  }
}

.construct-tour__form {
  margin: 41px 0 0 0;

  @media (min-width: $desktop-md-width) {
    margin-top: 100px;
  }
}
