@import '../global/variables.scss';

.control-radio {
  position: relative;
}

.control-radio__mark {
  position: absolute;
  top: 4px;
  left: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1.5px solid $black;
  border-radius: 50%;

  @media (min-width: $desktop-md-width) {
    top: -1px;
    width: 26px;
    height: 26px;
    border: 2px solid $black;
  }
}

.control-radio__label {
  margin-left: 30px;
  @include font(normal, 16px, 142%);

  @media (min-width: $desktop-md-width) {
    margin-left: 37px;
    @include font(normal, 20px, 142%);
  }
}

.control-radio:hover .control-radio__mark {
  opacity: 0.9;
}

.control-radio__input:checked + .control-radio__mark::before {
  position: absolute;
  top: 4px;
  left: 4.2px;
  width: 9.23px;
  height: 9.23px;
  background-color: $black;
  border-radius: 50%;
  content: '';

  @media (min-width: $desktop-md-width) {
    top: 5px;
    left: 5px;
    width: 12px;
    height: 12px;
  }
}
