@import '../global/variables.scss';

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.feedback__title {
  margin: 75px 0 0 0;
  @include font(bold, 34px, 112%, 0.02em);
  color: $black;
  
  @media (min-width: $desktop-md-width) {
    margin-top: 134px;
  }
  
  @media (min-width: $desktop-lg-width) {
    margin-top: 135px;
    @include font(bold, 59px, 124%);
  }
}

.feedback__description {
  margin: 20px 0 0 0;
  padding: 0 20px;
  @include font(normal, 16px, 142%);
  color: $grey300;
  
  @media (min-width: $desktop-md-width) {
    margin-top: 30px;
    padding: 0;
    @include font(normal, 20px, 142%);
  }
}

.feedback__description br {
  display: none;

  @media (min-width: $desktop-md-width) {
    display: block;
  }
}

.feedback__list {
  display: flex;
  flex-direction: column;
  width: 318px;
  margin: 50px 0 0 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-md-width) {
    flex-direction: row;
    width: 918px;
  }

  @media (min-width: $desktop-lg-width) {
    width: 1170px;
    margin: 99px 0 0 0;
  }
}

.feedback__item:not(:first-child) {
  margin: 18px 0 0 0;
  
  @media (min-width: $desktop-md-width) {
    margin-left: 18px;
  }
  
  @media (min-width: $desktop-lg-width) {
    margin-left: 18px;
  }
}
