@import '../global/variables.scss';

.feedback-card {
  display: flex;
  flex-direction: column;
  width: 318px;
  min-height: 408px;
  padding: 20px 21px 20px 20px;
  border-radius: 20px;
  box-sizing: border-box;
  text-align: start;
  background-color: $beige200;
  border: none;
  

  @media (min-width: $desktop-md-width) {
    width: 450px;
    min-height: 841px;
    padding: 41px 40px 40px 40px;
    border-radius: 50px;
  }

  @media (min-width: $desktop-lg-width) {
    width: 570px;
    min-height: 673px;
  }
}

.feedback-card__text {
  margin: 0;
  @include font(bold, 16px, 144%);
  color: $black;
  
  @media (min-width: $desktop-md-width) {
    @include font(bold, 23px, 122%);
  }
}

.feedback-card__text:not(:first-child) {
  margin: 23px 0 40px 0;
  
  @media (min-width: $desktop-md-width) {
    margin: 28px 0 70px 0;
  }
}

.feedback-card__user {
  margin-top: auto;
}
