@import '../global/variables.scss';

.form {
  width: 1170px;
  height: 986px;
  padding: 70px;
  box-sizing: border-box;
  background-color: $white;
  border-radius: 50px;

  @media (max-width: $tablet-width) {
    width: 918px;
    height: 966px;
    padding: 60px;
  }

  @media (max-width: $mobile-width) {
    width: 318px;
    height: 1110px;
    padding: 20px 20px 40px;
    border-radius: 30px;
  }
}

.form__inputs {
  margin: 0;
}

.form__age {
  margin: 33px 0 0 0;

  @media (max-width: $mobile-width) {
    margin-top: 28px;
  }
}

.form__license {
  margin: 30px 0 0 0;
}

.form__buttons {
  margin: 33px 0 0 0;
  text-align: start;

  @media (max-width: $mobile-width) {
    margin-top: 30px;
  }
}

.form__buttons__button-find {
  min-width: 235px;
  min-height: 58px;
  padding: 15px;
  @include font(normal, 20px, 142%);
  color: $white;
  background-color: $green400;
  border: none;
  border-radius: 10px;

  @media (max-width: $mobile-width) {
    min-width: 134px;
    min-height: 47px;
    padding: 12px;
    @include font(normal, 16px, 142%);
  }
}

.form__buttons__button-find:hover {
  background-color: $green300;
  cursor: pointer;
}

.form__buttons__button-find:active {
  background-color: $green200;
}

.form__buttons__button-clear {
  min-width: 235px;
  min-height: 58px;
  margin-left: 25px;
  padding: 15px;
  @include font(normal, 20px, 142%);
  color: $green400;
  background-color: $green100;
  border: none;
  border-radius: 10px;

  @media (max-width: $mobile-width) {
    min-width: 134px;
    min-height: 47px;
    margin-left: 5px;
    padding: 12px;
    @include font(normal, 16px, 142%);
  }
}


.form__buttons__button-clear:hover {
  background-color: $grey100;
  cursor: pointer;
}

.form__buttons__button-clear:active {
  background-color: $grey200;
}
