@import '../global/variables.scss';

.header {
  min-width: 360px;
  width: auto;
  min-height: 488px;
  background-image: url('../img/backgound-village/background-village-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/backgound-village/background-village-mobile@2x.jpg');
    background-size: 360px auto;
  }

  @media (min-width: $desktop-md-width) {
    min-width: 1024px;
    width: auto;
    min-height: 831px;
    background-image: url('../img/backgound-village/background-village-desktop-md.jpg');

    @media (min-resolution: 2dppx) {
      background-image: url('../img/backgound-village/background-village-desktop-md@2x.jpg');
      background-size: 1024px auto;
    }
  }

  @media (min-width: $desktop-lg-width) {
    min-width: 1920px;
    width: auto;
    min-height: 831px;
    background-image: url('../img/backgound-village/background-village-desktop-lg.jpg');

    @media (min-resolution: 2dppx) {
      background-image: url('../img/backgound-village/background-village-desktop-lg@2x.jpg');
      background-size: 1920px auto;
    }
  }
}

.header__navigation {
  margin: 0 auto;
}

.header__tagline {
  margin: 0 auto;
}
