@import "../global/variables.scss";

.header {
  width: 100%;
  min-height: 831px;
  background-image: url('../../src/img/backgound-village/background-village-desktop.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  // @media (min-resolution: 2dppx) {
  //   background-image: url("../../img/background-house/index-background-house-tablet@2x.png");
  //   background-size: 1200px auto;
  // }

  @media (max-width: $tablet-width) {
    width: 100%;
    min-height: 831px;
    background-image: url('../../src/img/backgound-village/background-village-tablet.jpg');
    // order: 2;
    // margin-top: 18px;

    // @include font(bold, 20px, 30px);
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 488px;
    background-image: url('../../src/img/backgound-village/background-village-mobile.jpg');
    // @include font(bold, 24px, 30px);
  }
}

.header__navigation {
  margin: 2px auto 0 auto;
}

.header__tagline {
  margin: 0 auto;
}
