@import '../global/variables.scss';

.history-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 455px;
  padding: 30px 30px 18px;
  box-sizing: border-box;
  color: $white;
  text-decoration: none;
  text-align: start;
  border: none;
  border-radius: 20px;
  background-size: 100%;
  transition: all 0.3s ease;

  @media (min-width: $desktop-md-width) {
    min-height: 567px;
    padding: 6.5% 6.5% 5.6%;
    border-radius: 50px;
  }
  @media (min-width: $desktop-lg-width) {
    min-height: 567px;
    padding: 5% 5% 4.5%;
    border-radius: 50px;
  }
}

.history-card:hover {
  background-size: 120%;

  @media (min-width: 361px) {
    background-size: 899px auto;
  }
  @media (min-width: $desktop-md-width) {
    background-size: 120%;
  }
  @media (min-width: 1025px) {
    background-size: 1404px auto;
  }
}

.history-card:hover .history-card__button {
  background-color: $green400;
}

.history-card--camping {
  @include bgWithGradientSecond('../img/histories/camping-mobile.jpg');

  @media (min-resolution: 2dppx) {
    @include bgWithGradientSecond('../img/histories/camping-mobile@2x.jpg');
    background-size: 318px auto;
  }

  @media (min-width: 361px) {
    @include bgWithGradientSecond('../img/histories/camping-desktop-md.jpg');
    background-position: right;
    background-size: 749px auto;
    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond(
        '../img/histories/camping-desktop-md@2x.jpg'
      );
      background-size: 918px auto;
    }
  }

  @media (min-width: $desktop-md-width) {
    @include bgWithGradientSecond('../img/histories/camping-desktop-md.jpg');
    background-position:initial;
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond(
        '../img/histories/camping-desktop-md@2x.jpg'
      );
      background-size: 918px auto;
    }
  }

  @media (min-width: 1025px) {
    @include bgWithGradientSecond('../img/histories/camping-desktop-lg.jpg');
    background-position: right;
    background-size: 1170px auto;
    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond(
        '../img/histories/camping-desktop-lg@2x.jpg'
      );
      background-size: 1170px auto;
    }
  }

  @media (min-width: $desktop-lg-width) {
    @include bgWithGradientSecond('../img/histories/camping-desktop-lg.jpg');
    background-position:initial;
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond('../img/histories/camping-desktop-lg@2x.jpg');
      background-size: 1170px auto;
    }
  }
}

.history-card--fire {
  @include bgWithGradientSecond('../img/histories/fire-mobile.jpg');

  @media (min-resolution: 2dppx) {
    @include bgWithGradientSecond('../img/histories/fire-mobile@2x.jpg');
    background-size: 318px auto;
  }

  @media (min-width: 361px) {
    @include bgWithGradientSecond('../img/histories/fire-desktop-md.jpg');
    background-position: 50%;
    background-size: 749px auto;
    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond(
        '../img/histories/fire-desktop-md@2x.jpg'
      );
      background-size: 918px auto;
    }
  }

  @media (min-width: $desktop-md-width) {
    @include bgWithGradientSecond('../img/histories/fire-desktop-md.jpg');
    background-position:initial;
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond('../img/histories/fire-desktop-md@2x.jpg');
      background-size: 918px auto;
    }
  }

  @media (min-width: 1025px) {
    @include bgWithGradientSecond('../img/histories/fire-desktop-lg.jpg');
    background-position: right;
    background-size: 1170px auto;
    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond(
        '../img/histories/fire-desktop-lg@2x.jpg'
      );
      background-size: 1170px auto;
    }
  }

  @media (min-width: $desktop-lg-width) {
    @include bgWithGradientSecond('../img/histories/fire-desktop-lg.jpg');
    background-position:initial;
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond('../img/histories/fire-desktop-lg@2x.jpg');
      background-size: 1170px auto;
    }
  }
}

.history-card--shore {
  @include bgWithGradientSecond('../img/histories/shore-mobile.jpg');

  @media (min-resolution: 2dppx) {
    @include bgWithGradientSecond('../img/histories/shore-mobile@2x.jpg');
    background-size: 318px auto;
  }

  @media (min-width: 361px) {
    @include bgWithGradientSecond('../img/histories/shore-desktop-md.jpg');
    background-position: 50%;
    background-size: 749px auto;
    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond(
        '../img/histories/shore-desktop-md@2x.jpg'
      );
      background-size: 918px auto;
    }
  }

  @media (min-width: $desktop-md-width) {
    @include bgWithGradientSecond('../img/histories/shore-desktop-md.jpg');
    background-position:initial;
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond('../img/histories/shore-desktop-md@2x.jpg');
      background-size: 918px auto;
    }
  }

  @media (min-width: 1025px) {
    @include bgWithGradientSecond('../img/histories/shore-desktop-lg.jpg');
    background-position: right;
    background-size: 1170px auto;
    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond(
        '../img/histories/shore-desktop-lg@2x.jpg'
      );
      background-size: 1170px auto;
    }
  }

  @media (min-width: $desktop-lg-width) {
    @include bgWithGradientSecond('../img/histories/shore-desktop-lg.jpg');
    background-position:initial;
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond('../img/histories/shore-desktop-lg@2x.jpg');
      background-size: 1170px auto;
    }
  }
}

.history-card__title {
  width: 60%;
  margin: 2px 0 0 0;
  @include font(bold, 23px, 120%, 0.04em);

  @media (min-width: $desktop-md-width) {
    width: 100%;
    @include font(normal, 35px, 122%, 0.004em);
  }
}

.history-card__text {
  width: 100%;
  margin: 20px 0 0 0;
  @include font(normal, 16px, 142%);
  
  @media (min-width: $desktop-md-width) {
    width: 70%;
    margin-top: 35px;
    @include font(normal, 20px, 142%, 0.0005em);
  }

  @media (min-width: $desktop-lg-width) {
    width: 55%;
  }
}

.history-card__list {
  margin: 25px 0 0 24px;
  padding: 0;
  @include font(normal, 16px, 142%);
  list-style-type: none;
  
  @media (min-width: $desktop-md-width) {
    margin: 26px 0 0 30px;
    @include font(normal, 20px, 142%);
  }
}

.history-card__item {
  position: relative;
}

.history-card__item:before {
  position: absolute;
  top: 0;
  left: -16px;
  font-size: 30px;
  color: $white;
  content: '·';

  @media (min-width: $desktop-md-width) {
    left: -20px;
    font-size: 38px;
  }
}

.history-card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.history-card__button {
  margin: 0 0 6px -15px;
  @media (min-width: $desktop-md-width) {
    margin: 0 0 0 -20px;
  }
}
