@import '../global/variables.scss';

.history-card {
  display: flex;
  flex-direction: column;
  width: 1170px;
  min-height: 567px;
  padding: 60px 60px 52px;
  box-sizing: border-box;
  color: $white;
  text-align: start;
  border: none;
  border-radius: 50px;
  background-size: 100%;
  pointer-events: none;
  transition: all 0.3s ease;

  @media (max-width: $tablet-width) {
    width: 918px;
  }

  @media (max-width: $mobile-width) {
    width: 318px;
    min-height: 455px;
    padding: 30px 30px 18px;
    border-radius: 20px;
  }
}

.history-card:hover {
  background-size: 120%;
}

.history-card--camping {
  @include bgWithGradientSecond('../img/histories/camping-desktop.jpg');

  @media (min-resolution: 2dppx) {
    @include bgWithGradientSecond('../img/histories/camping-desktop@2x.jpg');
    background-size: 1170px auto;
  }

  @media (max-width: $tablet-width) {
    @include bgWithGradientSecond('../img/histories/camping-tablet.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond('../img/histories/camping-tablet@2x.jpg');
      background-size: 918px auto;
    }
  }

  @media (max-width: $mobile-width) {
    @include bgWithGradientSecond('../img/histories/camping-mobile.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond('../img/histories/camping-mobile@2x.jpg');
      background-size: 318px auto;
    }
  }
}

.history-card--fire {
  @include bgWithGradientSecond('../img/histories/fire-desktop.jpg');

  @media (min-resolution: 2dppx) {
    @include bgWithGradientSecond('../img/histories/fire-desktop@2x.jpg');
    background-size: 1170px auto;
  }

  @media (max-width: $tablet-width) {
    @include bgWithGradientSecond('../img/histories/fire-tablet.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond('../img/histories/fire-tablet@2x.jpg');
      background-size: 918px auto;
    }
  }

  @media (max-width: $mobile-width) {
    @include bgWithGradientSecond('../img/histories/fire-mobile.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond('../img/histories/fire-mobile@2x.jpg');
      background-size: 318px auto;
    }
  }
}

.history-card--shore {
  @include bgWithGradientSecond('../img/histories/shore-desktop.jpg');

  @media (min-resolution: 2dppx) {
    @include bgWithGradientSecond('../img/histories/shore-desktop@2x.jpg');
    background-size: 1170px auto;
  }

  @media (max-width: $tablet-width) {
    @include bgWithGradientSecond('../img/histories/shore-tablet.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond('../img/histories/shore-tablet@2x.jpg');
      background-size: 918px auto;
    }
  }

  @media (max-width: $mobile-width) {
    @include bgWithGradientSecond('../img/histories/shore-mobile.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradientSecond('../img/histories/shore-mobile@2x.jpg');
      background-size: 318px auto;
    }
  }
}

.history-card__title {
  margin: 0;
  @include font(normal, 35px, 122%);

  @media (max-width: $mobile-width) {
    width: 150px;
    @include font(bold, 23px, 120%, 0.04em);
  }
}

.history-card__text {
  width: 560px;
  margin: 37px 0 0 0;
  @include font(normal, 20px, 142%);

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-top: 22px;
    @include font(normal, 16px, 142%);
  }
}

.history-card__list {
  margin: 26px 0 0 30px;
  padding: 0;
  @include font(normal, 20px, 142%);
  list-style-type: none;

  @media (max-width: $mobile-width) {
    margin: 25px 0 0 24px;
    @include font(normal, 16px, 142%);
  }
}

.history-card__item {
  position: relative;
}

.history-card__item:before {
  position: absolute;
  top: 0;
  left: -20px;
  font-size: 38px;
  color: $white;
  content:"·";

  @media (max-width: $mobile-width) {
    left: -16px;
    font-size: 30px;
  }
}

.history-card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.history-card__button {
  margin-left: -20px;
  pointer-events: auto;
}

.history-card__socials {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.history-card__social-link {
  position: relative;
  @include font(normal, 20px, 142%);
  color: $white;
  text-decoration: none;
  pointer-events: auto;
}

.history-card__social-link:not(:first-child) {
  margin-left: 35px;
}

.history-card__social-link:hover {
  cursor: pointer;
}

.history-card__social-link:hover:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: $white;
  content: '';
}

.history-card__social-link:active {
  color: $orange200;
}

.history-card__social-link:active:after {
  background-color: $orange200;
}
