@import '../global/variables.scss';

.input-fields {
  padding: 0;
  border: none;
}

.input-fields__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, min-content);
  row-gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  @media (min-width: $desktop-md-width) {
    grid-template-columns: repeat(2, 389px);
    grid-template-rows: repeat(4, min-content);
    column-gap: 20px;
    row-gap: 34px;
  }

  @media (min-width: 1300px) {
    grid-template-columns: repeat(2, 48.7%);
  }
  
  @media (min-width: $desktop-lg-width) {
    grid-template-columns: repeat(2, 48.5%);
    column-gap: 3%;
  }
}

.input-fields__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-fields__item--textarea {
  grid-column: 1 / -1;
}

.input-fields__item--select {
  position: relative;
}

.input-fields__item--select::after {
  position: absolute;
  top: 49px;
  right: 15px;
  width: 18px;
  height: 11px;
  background-image: url('../../src/img/svg-icons/select-arrow.svg');
  background-repeat: no-repeat;
  content: '';
  
  @media (min-width: $desktop-md-width) {
    top: 65px;
    right: 24px;
  }
}

.input-fields__input,
.input-fields__select {
  width: 100%;
  height: 44px;
  padding: 10px;
  box-sizing: border-box;
  @include font(normal, 16px, 142%);
  color: $black;
  background-color: $beige100;
  border: 1px solid $beige200;
  border-radius: 10px;
  
  @media (min-width: $desktop-md-width) {
    height: 68px;
    padding: 18px;
    @include font(normal, 20px, 141%);
  }
}

.input-fields__input::placeholder {
  color: $grey300;
}

.input-fields__input:focus,
.input-fields__input:focus-visible {
  color: $black;
  border: 1px solid $grey300;
  outline: none;
}

.input-fields__input:hover {
  background-color: $beige200;
  cursor: pointer;
}

.input-fields__select {
  color: $black;
  appearance: none;

  @media (max-width: $mobile-width) {
    height: 46px;
  }
}

.input-fields__select:hover {
  background-color: $beige200;
  cursor: pointer;
}

.input-fields__select:invalid {
  color: $grey300;
}

.input-fields__select:focus {
  color: $black;
  outline: none;
}

.input-fields__textarea {
  width: 100%;
  height: 132px;
  padding: 10px;
  box-sizing: border-box;
  @include font(normal, 16px, 142%);
  color: $black;
  background-color: $beige100;
  border: 1px solid $beige200;
  border-radius: 10px;
  resize: none;
  
  @media (min-width: $desktop-md-width) {
    padding: 20px;
    height: 152px;
    @include font(normal, 20px, 141%);
  }
}

.input-fields__textarea:hover {
  background-color: $beige200;
  cursor: pointer;
}

.input-fields__textarea:focus-visible {
  color: $black;
  border: 1px solid $grey300;
  outline: none;
}

.input-fields__label {
  margin-bottom: 8px;
  @include font(normal, 16px, 142%);

  @media (min-width: $desktop-md-width) {
    margin-bottom: 7px;
    @include font(normal, 20px, 142%);
  }
}
