@import '../global/variables.scss';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  min-height: 88px;
  @include font(normal, 16px, 142%);
  color: $white;
  
  @media (min-width: $desktop-md-width) {
    justify-content: initial;
    width: 910px;
  }
  
  @media (min-width: $desktop-lg-width) {
    width: 1168px;
    @include font(normal, 20px, 142%);
  }
}

.navigation__links {
  display: none;

  @media (min-width: $desktop-md-width) {
    display: flex;
    min-width: 408px;
    margin: 0 0 0 83px;
    padding: 0;
    list-style-type: none;
  }
  
  @media (min-width: $desktop-lg-width) {
    margin-left: 182px;
    min-width: 470px;
  }
}

.navigation__item:not(:first-child) {
  margin-left: 30px;
  
  @media (min-width: $desktop-md-width) {
    margin-left: 51px;
  }
}

.navigation__link {
  position: relative;
  color: $white;
  text-decoration: none;
}

.navigation__link:hover:after {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: $white;
  content: '';
}

.navigation__logo {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navigation__phone {
  position: relative;
  margin: 5px 0 0 0;
  padding: 0;
  color: $white;
  text-decoration: none;
  
  @media (min-width: $desktop-md-width) {
    margin: 0 0 0 auto;
  }
}

.navigation__phone:hover:after {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: $white;
  content: '';
}
