@import '../global/variables.scss';

.navigation-fixed {
  display: flex;
  align-items: center;
  width: 1168px;
  @include font(normal, 20px, 142%);
  color: $black;

  @media (max-width: $desktop-md-width) {
    width: 910px;
  }

  @media (max-width: $mobile-width) {
    justify-content: space-between;
    width: 320px;
    @include font(normal, 16px, 142%);
  }
}

.navigation-fixed__links {
  display: flex;
  min-width: 470px;
  margin: 0 0 0 182px;
  padding: 0;
  list-style-type: none;

  @media (max-width: $desktop-md-width) {
    min-width: 408px;
    margin-left: 83px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.navigation-fixed__item:not(:first-child) {
  margin-left: 51px;

  @media (max-width: $desktop-md-width) {
    margin-left: 30px;
  }
}

.navigation-fixed__link {
  position: relative;
  color: $black;
  text-decoration: none;
}

.navigation-fixed__link:hover:after {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: $black;
  content: '';
}

.navigation-fixed__logo {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navigation-fixed__phone {
  position: relative;
  margin: 0 0 0 auto;
  padding: 0;
  color: $black;
  text-decoration: none;

  @media (max-width: $mobile-width) {
    margin: 5px 0 0 0;
  }
}

.navigation-fixed__phone:hover:after {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: $black;
  content: '';
}
