@import '../global/variables.scss';

.navigation {
  display: flex;
  align-items: center;
  width: 1168px;
  min-height: 88px;
  @include font(normal, 20px, 142%);
  color: $white;

  @media (max-width: $tablet-width) {
    width: 910px;

  }

  @media (max-width: $mobile-width) {
    justify-content: space-between;
    min-width: 320px;
    width: 320px;
    @include font(normal, 16px, 142%);
  }
}

.navigation__links {
  display: flex;
  min-width: 470px;
  margin: 0 0 0 182px;
  padding: 0;
  list-style-type: none;

  @media (max-width: $tablet-width) {
    min-width: 408px;
    margin-left: 83px;
  }
 
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.navigation__link:not(:first-child) {
  margin-left: 51px;

  @media (max-width: $tablet-width) {
    margin-left: 30px;
  }
}

.navigation__logo {
  margin: 9px 0 0 0;
  padding: 0;
  text-decoration: none;

  @media (max-width: $tablet-width) {
    margin-top: 7px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 9px;
  }
}

.navigation__phone {
  margin: 0 0 0 auto;
  padding: 0;
  color: $white;
  text-decoration: none;

  @media (max-width: $mobile-width) {
    margin: 5px 0 0 0;
  }
}