@import '../global/variables.scss';


.tour-card {
  display: flex;
  flex-direction: column;
  width: 370px;
  min-height: 531px;
  padding: 50px 50px 41px 50px;
  box-sizing: border-box;
  color: $white;
  border-radius: 50px;

  @media (max-width: $tablet-width) {
    width: 450px;
  }

  @media (max-width: $mobile-width) {
    width: 318px;
    min-height: 318px;
    padding: 25px 25px 13px 25px;
    border-radius: 20px;
  }
}

.tour-card__title {
  margin: 0;
  @include font(500, 35px, 122%);

  @media (max-width: $mobile-width) {
    @include font(bold, 23px, 120%, 0.04em);
  }
}

.tour-card__price{
  margin-top: 16px;
  @include font(normal, 17px, 142%);

  @media (max-width: $mobile-width) {
    @include font(normal, 16px, 142%);
  }
}

.tour-card__button {
  margin: auto 0 0 -20px;
}

.tour-card--car {
  @include backgroundImage('../../src/img/choose-tour-images/car-desktop.jpg');

  @media (max-width: $tablet-width) {
    @include backgroundImage('../../src/img/choose-tour-images/car-tablet.jpg');
  }

  @media (max-width: $mobile-width) {
    @include backgroundImage('../../src/img/choose-tour-images/car-mobile.jpg');
  }
}

.tour-card--sand {
  @include backgroundImage('../../src/img/choose-tour-images/sand-desktop.jpg');

  @media (max-width: $tablet-width) {
    @include backgroundImage('../../src/img/choose-tour-images/sand-tablet.jpg');
  }

  @media (max-width: $mobile-width) {
    @include backgroundImage('../../src/img/choose-tour-images/sand-mobile.jpg');
  }
}

.tour-card--fjord {
  @include backgroundImage('../../src/img/choose-tour-images/fjord-desktop.jpg');

  @media (max-width: $tablet-width) {
    @include backgroundImage('../../src/img/choose-tour-images/fjord-tablet.jpg');
  }

  @media (max-width: $mobile-width) {
    @include backgroundImage('../../src/img/choose-tour-images/fjord-mobile.jpg');
  }
}

.tour-card--street {
  @include backgroundImage('../../src/img/choose-tour-images/street-desktop.jpg');

  @media (max-width: $tablet-width) {
    @include backgroundImage('../../src/img/choose-tour-images/street-tablet.jpg');
  }

  @media (max-width: $mobile-width) {
    @include backgroundImage('../../src/img/choose-tour-images/street-mobile.jpg');
  }
}

.tour-card--beach {
  @include backgroundImage('../../src/img/choose-tour-images/beach-desktop.jpg');

  @media (max-width: $tablet-width) {
    @include backgroundImage('../../src/img/choose-tour-images/beach-tablet.jpg');
  }

  @media (max-width: $mobile-width) {
    @include backgroundImage('../../src/img/choose-tour-images/beach-mobile.jpg');
  }
}

.tour-card--lake {
  @include backgroundImage('../../src/img/choose-tour-images/lake-desktop.jpg');

  @media (max-width: $tablet-width) {
    @include backgroundImage('../../src/img/choose-tour-images/lake-tablet.jpg');
  }

  @media (max-width: $mobile-width) {
    @include backgroundImage('../../src/img/choose-tour-images/lake-mobile.jpg');
  }
}
