@import '../global/variables.scss';


.tour-card {
  display: flex;
  flex-direction: column;
  width: 370px;
  min-height: 531px;
  padding: 50px;
  box-sizing: border-box;
  color: $white;
  border-radius: 50px
}

.tour-card__title {
  margin: 0;
  @include font(500, 35px, 122%);
}

.tour-card__price{
  margin-top: 16px;
  @include font(normal, 17px, 142%);
}

.tour-card__button {
  justify-self: flex-end;
  margin-top: auto;
}

.tour-card--car {
  @include backgroundImage('../../src/img/choose-tour-images/car-desktop.jpg');
}

.tour-card--sand {
  @include backgroundImage('../../src/img/choose-tour-images/sand-desktop.jpg');
}

.tour-card--fjord {
  @include backgroundImage('../../src/img/choose-tour-images/fjord-desktop.jpg');
}

.tour-card--street {
  @include backgroundImage('../../src/img/choose-tour-images/street-desktop.jpg');
}

.tour-card--beach {
  @include backgroundImage('../../src/img/choose-tour-images/beach-desktop.jpg');
}

.tour-card--lake {
  @include backgroundImage('../../src/img/choose-tour-images/car-desktop.jpg');
}
