@import '../global/variables.scss';

.tour-card {
  display: flex;
  flex-direction: column;
  width: 318px;
  min-height: 318px;
  padding: 25px 25px 13px 25px;
  box-sizing: border-box;
  color: $white;
  border-radius: 20px;
  background-size: 100%;
  pointer-events: none;
  transition: all 0.3s ease;

  @media (min-width: $desktop-md-width) {
    width: 450px;
    min-height: 531px;
    padding: 50px 50px 41px 50px;
    border-radius: 50px;
  }

  @media (min-width: $desktop-lg-width) {
    width: 370px;
  }
}

.tour-card:hover {
  background-size: 120%;
}

.tour-card__title {
  margin: 1px 0 0 0;
  @include font(bold, 23px, 120%, 0.04em);
  
  @media (min-width: $desktop-md-width) {
    @include font(500, 35px, 122%);
  }
}

.tour-card__price {
  margin-top: 15px;
  @include font(normal, 16px, 142%);
  
  @media (min-width: $desktop-md-width) {
    @include font(normal, 17px, 142%);
  }
}

.tour-card__button {
  margin: auto 0 0 -20px;
  pointer-events: auto;
}

.tour-card--car {
  @include bgWithGradient('../img/choose-tour-images/car-mobile.jpg');

  @media (min-resolution: 2dppx) {
    @include bgWithGradient('../img/choose-tour-images/car-mobile@2x.jpg');
    background-size: 318px auto;
  }

  @media (min-width: $desktop-md-width) {
    @include bgWithGradient('../img/choose-tour-images/car-desktop-md.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradient(
        '../img/choose-tour-images/car-desktop-md@2x.jpg'
      );
      background-size: 450px auto;
    }
  }

  @media (min-width: $desktop-lg-width) {
    @include bgWithGradient('../img/choose-tour-images/car-desktop-lg.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradient('../img/choose-tour-images/car-desktop-lg@2x.jpg');
      background-size: 370px auto;
    }

  }
}

.tour-card--sand {
  @include bgWithGradient('../img/choose-tour-images/sand-mobile.jpg');

  @media (min-resolution: 2dppx) {
    @include bgWithGradient('../img/choose-tour-images/sand-mobile@2x.jpg');
    background-size: 318px auto;
  }

  @media (min-width: $desktop-md-width) {
    @include bgWithGradient('../img/choose-tour-images/sand-desktop-md.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradient(
        '../img/choose-tour-images/sand-desktop-md@2x.jpg'
      );
      background-size: 450px auto;
    }
  }

  @media (min-width: $desktop-lg-width) {
    @include bgWithGradient('../img/choose-tour-images/sand-desktop-lg.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradient('../img/choose-tour-images/sand-desktop-lg@2x.jpg');
      background-size: 370px auto;
    }
  }
}

.tour-card--fjord {
  @include bgWithGradient('../img/choose-tour-images/fjord-mobile.jpg');

  @media (min-resolution: 2dppx) {
    @include bgWithGradient('../img/choose-tour-images/fjord-mobile@2x.jpg');
    background-size: 318px auto;
  }

  @media (min-width: $desktop-md-width) {
    @include bgWithGradient('../img/choose-tour-images/fjord-desktop-md.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradient(
        '../img/choose-tour-images/fjord-desktop-md@2x.jpg'
      );
      background-size: 450px auto;
    }
  }

  @media (min-width: $desktop-lg-width) {
    @include bgWithGradient('../img/choose-tour-images/fjord-desktop-lg.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradient(
        '../img/choose-tour-images/fjord-desktop-lg@2x.jpg'
      );
      background-size: 370px auto;
    }
  }
}

.tour-card--street {
  @include bgWithGradient('../img/choose-tour-images/street-mobile.jpg');

  @media (min-resolution: 2dppx) {
    @include bgWithGradient('../img/choose-tour-images/street-mobile@2x.jpg');
    background-size: 318px auto;
  }

  @media (min-width: $desktop-md-width) {
    @include bgWithGradient('../img/choose-tour-images/street-desktop-md.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradient(
        '../img/choose-tour-images/street-desktop-md@2x.jpg'
      );
      background-size: 450px auto;
    }
  }

  @media (min-width: $desktop-lg-width) {
    @include bgWithGradient('../img/choose-tour-images/street-desktop-lg.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradient(
        '../img/choose-tour-images/street-desktop-lg@2x.jpg'
      );
      background-size: 370px auto;
    }
  }
}

.tour-card--beach {
  @include bgWithGradient('../img/choose-tour-images/beach-mobile.jpg');

  @media (min-resolution: 2dppx) {
    @include bgWithGradient('../img/choose-tour-images/beach-mobile@2x.jpg');
    background-size: 318px auto;
  }

  @media (min-width: $desktop-md-width) {
    @include bgWithGradient('../img/choose-tour-images/beach-desktop-md.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradient(
        '../img/choose-tour-images/beach-desktop-md@2x.jpg'
      );
      background-size: 450px auto;
    }
  }

  @media (min-width: $desktop-lg-width) {
    @include bgWithGradient('../img/choose-tour-images/beach-desktop-lg.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradient(
        '../img/choose-tour-images/beach-desktop-lg@2x.jpg'
      );
      background-size: 370px auto;
    }
  }
}

.tour-card--lake {
  @include bgWithGradient('../img/choose-tour-images/lake-mobile.jpg');

  @media (min-resolution: 2dppx) {
    @include bgWithGradient('../img/choose-tour-images/lake-mobile@2x.jpg');
    background-size: 318px auto;
  }

  @media (min-width: $desktop-md-width) {
    @include bgWithGradient('../img/choose-tour-images/lake-desktop-md.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradient(
        '../img/choose-tour-images/lake-desktop-md@2x.jpg'
      );
      background-size: 450px auto;
    }
  }

  @media (min-width: $desktop-lg-width) {
    @include bgWithGradient('../img/choose-tour-images/lake-desktop-lg.jpg');

    @media (min-resolution: 2dppx) {
      @include bgWithGradient('../img/choose-tour-images/lake-desktop-lg@2x.jpg');
      background-size: 370px auto;
    }
  }
}
