@import '../global/variables.scss';

.user {
  display: grid;
  grid-template-columns: 415px 75px;
  grid-template-rows: repeat(2, max-content);

  @media (max-width: $desktop-md-width) {
    grid-template-columns: 295px 75px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 203px 75px;
  }
}

.user__name {
  grid-area: 1 / 1 / 2 / 2;
  margin: 0;
  padding: 0;
  @include font(500, 35px, 122%);

  @media (max-width: $mobile-width) {
    align-self: flex-end;
    margin-top: 15px;
    @include font(bold, 23px, 120%, 0.04em);
  }
}

.user__tour {
  grid-area: 2 / 1 / -2 / 2;
  align-self: flex-end;
  margin: 0;
  padding: 0;
  @include font(normal, 17px, 142%, -0.01em);
  color: $grey300;

  @media (max-width: $desktop-md-width) {
    margin-top: 5px;
  }

  @media (max-width: $mobile-width) {
    @include font(normal, 16px, 142%, -0.01em);
  }
}

.user__avatar {
  grid-area: 1 / 2 / -1 / -1;
  border-radius: 100px;
}
