@import '../global/variables.scss';

.user {
  display: grid;
  grid-template-columns: 415px 75px;
  grid-template-rows: repeat(2, max-content);

  @media (max-width: $tablet-width) {
    grid-template-columns: 295px 75px;
  }
}

.user__name {
  grid-area: 1 / 1 / 2 / 2;
  margin: 0;
  padding: 0;
  @include font(500, 35px, 122%);
}

.user__tour {
  grid-area: 2 / 1 / -2 / 2;
  margin: 0;
  padding: 0;
  @include font(normal, 17px, 142%, -0.01em);
  color: $grey300;

  @media (max-width: $tablet-width) {
    margin-top: 5px;
  }
}

.user__avatar {
  grid-area: 1 / 2 / -1 / -1;
  border-radius: 100px;
}
