body {
  margin: 0 auto 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: normal;
  background-color: black;
}

img {
  max-width: 100%;
  object-fit: contain;
}
