@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/src/fonts/Roboto-Bold.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/src/fonts/Roboto-Medium.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/src/fonts/Roboto-Regular.ttf') format('ttf');
  font-display: swap;
}
