@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: url('/src/assets/fonts/roboto-700.woff2') format('woff2'),
    url('/src/assets/fonts/roboto-700.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: medium;
  src: url('/src/assets/fonts/roboto-500.woff2') format('woff2'),
    url('/src/assets/fonts/roboto-500.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('/src/assets/fonts/roboto-regular.woff2') format('woff2'),
    url('/src/assets/fonts/roboto-regular.woff') format('woff');
  font-display: swap;
}
