// FONTS
$font-family: "Roboto", sans-serif;

// @mixin font($weight: normal, $size: 14px, $height: 24px, $letter-spacing: normal) {
//   font-family: $font-family;
//   font-weight: $weight;
//   font-size: $size;
//   line-height: $height;
//   letter-spacing: $letter-spacing;
// }

// $color-white: #ffffff;
// $color-black: #000000;
// $color-highlight: #d22856;
// $color-blue: #1d2631;
// $color-blue-opaco: #283645;
// $color-grey: #f2f2f2;
// $color-dark-grey: #e5e5e5;
// $color-green: #2aab6d;

$desktop-width: 1920px;
$tablet-width: 1024px;
$mobile-width-only: 359px;
